body {
    background: linear-gradient(135deg,  #0f2027, #203a43,#2c5364);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 1rem auto;
    color: white;
    gap: 2rem;
}

.inputsData {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

#dataInicio, #dataTermino {
    border-radius: 15px;
    padding: 0 0.5rem;
}

#Captura {
    display: none;
    color: white;
    margin: 1em auto;
}

.formulario__container {
    margin: 1em 0;
    text-align: center;
}

.formulario__etapas {
    width: 100%;
}

.formulario__titulo-texto {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.formulario__texto {
    margin: 1em auto;
}

.formulario__imagem {
    display: block;
    margin: 0.5em auto;
}

.formulario__mensagem,
.formulario__camera {
    display: none;
}

.formulario__container i {
    font-size: 5rem;
}

.formulario__botao,
.camera__botao {
    background: var(--azul-claro);
    margin: 2em auto;
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--branco);
}

.fa-circle-check {
    color: rgb(8, 189, 8);
    font-size:5rem;
    margin: 1rem;
}

#selectColaborador {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3px;
    margin: 0 auto;
}

#selectUpLoad {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#btnHistoricoDeAtestados, #btnArquivarAtestado {
    width: auto;
    height: auto;
    margin-right: 70%;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 5px;
    font-size: 1em;
    border-radius: 15px;
    border: 0.1 solid white;
    margin: 1rem;
}

.btnSelectArquivo, .btnCaptura {
    width: 20%;
    height: auto;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 5px;
    font-size: 1em;
    border-radius: 15px;
    border: none;
    margin: 0.2rem;
}

.btnSelecionado {
    background-color: rgb(92,152,58);
}

#SelectArquivo {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#photoUpload {
    margin: 1rem;
}

.photoUpload {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin-top: 2.2rem;
}

#upLoadArquivo {
    display: none;
    padding: 0rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 480px){

    .btnSelectArquivo, .btnCaptura {
        width: 40%;
    }
}
