:root {
    --crl: #222327;
    --verde: rgb(92, 152, 58);
    --branco: #fff;
}
select {
    cursor: pointer;
    background-color: var(--verde);
    border: none;
    color: var(--branco);
    margin: 0.5rem 0 1rem;
    width: 200px;
    height: 2rem;
    border-radius: 15px;
    text-align-last: center;
    font-size: 1.2rem;
}
label {
    color: var(--branco);
}
button {
    margin: 2rem auto;
    background-color: var(--verde);
    width: 10rem;
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    color: var(--branco);
    cursor: pointer;
}