
* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: rgb(240, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/imagem-trabalhador.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.container__formulario {
    z-index: 1;
    opacity: 1;
    display: flex;
    width: 25rem;
    height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-sizing: content-box;
}

.container__formulario h2 {
    margin: 1rem auto;
}

.formulario__campo {
    margin: 2rem;
}

.select {
    margin-top: 1rem;
    width: 200px;
    height: 2rem;
    border-radius: 15px;
    text-align-last: center;
    font-size: 1.2rem;
}

.btnAdionaItem {
    margin-top: 1rem;
    width: 12rem;
    height: 2rem;
    font-size: 0.9rem;
    border-radius: 20px;
}

.btnAdionaItem:hover {
    cursor: pointer;
    scale: 1.1;
}

.formLista {
    z-index: 1;
    opacity: 1;
    display: flex;
    width: 20rem;
    height: 22rem;
    margin: 1rem auto;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.formLista h3 {
    margin: 2rem 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.itemlista {
    display: flex;
    width: 10rem;
    height: 2rem;
    border-radius: 25px;
    margin: 0.5rem;
    padding: 0.5rem;
}

/*li{
    display: flex;
    border: 1px solid white;
    width: 10rem;
    height: 1.5rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 0.5rem;
}*/

.itemLista p {
    margin: auto;
}

.enviaSolitacao {
    width: 15rem;
    height: 2.5rem;
    margin: 1rem auto 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
}

.enviaSolitacao:hover {
    cursor: pointer;
    scale: 1.1;
}

.botina,
.quantEpi,
.tamanhoUniforme,
.itemPadrao,
.btnEnviaSolicitacao {
    display: none;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100vw;
        height: 100vh;
        color: rgb(240, 245, 245);
        display: flex;
        flex-direction: column;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    
    .container__formulario {
        z-index: 1;
        opacity: 1;
        display: flex;
        width: 60%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        border: 1px solid transparent;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        box-sizing: content-box;
    }

    .formLista {
        z-index: 1;
        opacity: 1;
        display: flex;
        width: 60%;
        height: auto;
        margin: 1rem auto;
        align-items: center;
        flex-direction: column;
        border: 1px solid transparent;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.5);
        box-sizing: content-box;
    }

    #logoNilzaControll, 
    #usuarioLogado{
        display: none;
    }


    .formLista{
        width: 17rem;
        height: 15rem;
        margin: 3rem auto 0;
    }

    .formLista h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .enviaSolitacao {
        width: 10rem;
        height: 1.5rem;
        font-size: 1rem;
    }
}
