
.container__formulario{
    margin-top: 12rem;
}

.formulario__campo{
    margin: 1rem;
}

.botina{
    display: none;
}

.quantEpi{
    display: none;
}

.tamanhoUniforme{
    display: none;
}

.itemPadrao{
    display: none;
}

.btnEnviaSolicitacao{
    padding-bottom: 2rem;
}

.item{
    display: flex;
}

.item p{
    margin:1rem;
}