
:root {
    --verde:rgb(92,152,58);
    --branco:#fff;
    --vermelho: rgb(180,9,33)
}

.CabecalhoPedidosEntregues {
    color: var(--verde);
}

.pedidosEntregues {
    color: var(--verde);
}

.inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

input {
    margin-bottom: 0.5rem;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
}

table, th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
