.container__formulario {
    margin: 1rem;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.botina,
.tamanhoUniforme,
.itemPadrao {
    display: none;
}
.btnEnviaSolicitacao {
    margin-left: 1rem;
}