body {
  background-color: var(--neutral-dark);
}
main {
  display: flex;
}
.areaTrabalhoColaboadores {
  height: calc(100vh - 10rem);
  overflow-y: auto;
  background-color: var(--neutral-light);
  border-radius: 8px;
  margin: 20px auto 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
