#inputDates{
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
#fechamentoPonto {
  width: 100%;
  height: 100%;
}
#inicioDaBusca,
#finalDaBusca {
  border: none;
  width: 8rem;
  height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: 15px;
  background-color: var(--verde);
  color: var(--branco);
  text-align: center;
  cursor: pointer;
}
.date {
  margin-top: 0.5rem;
}
label {
  color: white;
}
#btnConsultar {
  margin-top: 0.5rem;
  background-color: var(--verde);
  width: 10rem;
  padding: 0.3rem;
  border: none;
  border-radius: 10px;
  color: var(--branco);
  cursor: pointer;
}
#pontoColaborador {
  color: var(--branco);
}
#tabelaPontos {
  display: none;
}