* {
    margin: 0;
    padding: 0;
}

:root {
    --verde:rgb(92,152,58);
    --branco:#fff;
    --vermelho: rgb(180,9,33)
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    margin: 0;
}

#inputDates {
    display: flex;
    width: 100vw;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f2027;
    flex-wrap: wrap;
}

#inicioDaBusca, #finalDaBusca {
    border: none;
    width: 8rem;
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 15px;
    background-color: var(--verde);
    color: white;
    text-align: center;
}

#inputDates button {
    width: 10rem;
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: var(--verde);
    color: white;
}

#consultaAtestados {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
}

.cardAtestado {
    color: var(--branco);
    font-size: 1rem;
    background-color: var(--verde);
    padding: 0.7rem;
    border-radius: 10px;
}

.cardAtestado p {
    margin-bottom: 0.3rem;
}

.imgAtestado {
    width: 17rem;
    height: 20rem;
}
