*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

:root {
    --verde:rgb(92,152,58);
    --branco:#fff;
    --vermelho: rgb(180,9,33);
}

body {
    background-color: #0f2027;
}

#inputDates {
    display: flex;
    width: 100vw;
    height: 10rem;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f2027;
    flex-wrap: wrap;
}

#inicioDaBusca, #finalDaBusca {
    border: none;
    width: 8rem;
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 15px;
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
}

.date {
    margin-top: 0.5rem;
}

label {
    color: white;
}

#btnConsultar {
    margin-top: 0.5rem;
    background-color: var(--verde);
    width: 10rem;
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    color: var(--branco);
}

#btnVoltar {
    margin-top: 0.5rem;
    width: 10rem;
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    color: var(--branco);
    background-color: var(--vermelho);
}

#consultaAtestados {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
}

.infCard {
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
}

.btnExcluirProjeto {
    margin-left: 7rem;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid var(--branco);
}

.cardAtestado {
    color: var(--branco);
    font-size: 0.9rem;
    font-weight: 200;
    background-color: var(--verde);
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 3px 10px 20px rgb(110, 109, 109);
}

.cardAtestado p {
    margin-bottom: 0.3rem;
}

.imgAtestado {
    width: 17rem;
    height: 20rem;
}
