*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

:root {
    --verde:rgb(92,152,58);
    --branco:#fff;
    --vermelho: rgb(180,9,33);
}

#headermobile {
    display: none;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1000;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin: 1rem auto;
    color: white;
    gap: 2rem;
}

#menuAtestado {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 2rem;
    width: 5rem;
    height: 3.5rem;
    background-color: var(--verde);
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
}

#btnFechar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--vermelho);
    margin: 0 85%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido inicialmente */
    width: 200px;
    height: auto;
    background-color: #333;
    color: var(--branco);
    transition: left 0.3s ease; /* Animação suave */
    padding: 10px;
    z-index: 999;
}
  
/* Conteúdo do menu */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
  
.sidebar li a {
    color: var(--branco);
    text-decoration: none;
}

.sidebar li:hover {
    cursor: pointer;
}

.iconeMobile {
    margin-right: 0.5rem;
}

ul .item {
    margin-top: 0.7rem;
}

/* ✅ RESPONSIVIDADE */
@media (max-width: 768px) {

    #headermobile {
      display: block;
    }
}