.btn {
  width: 15rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn.primary {
  background-color: var(--verde);
  color: white;
}

.btn.danger {
  background-color: #dc3545;
  color: white;
}

.btn.secondary {
  background-color: #6c757d;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}
