.inputGroup {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
  align-items: center;
}

.inputLabel {
  font-weight: bold;
  color: var(--neutral-dark);
}

.inputField {
  width: 15rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.8rem;
}
