.select-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-family: var(--font-base);
}

.select-label {
  color: var(--neutral-dark);
  font-weight: 500;
}
.select-element {
  padding: 0.5rem;
  border: 1px solid var(--primary-dark);
  border-radius: 4px;
  font-size: 1rem;
  color: var(--neutral-dark);
  background-color: white;
  transition: border-color 0.2s;
}
.select-element:focus {
  outline: none;
  border-color: var(--verde);
}
